:root{
    --primary-color:red;
    --btn-color:blue;
    --text-color:black;
}
#fun{
    background-color: var(--primary-color);
    height: 400px;
}
a{
    padding: 10px 30px;
    margin: 20px;
    background-color:var(--primary-color);
    color:var(--btn-color);
    text-decoration: none;
}