

   /* #bg{
        background-color: red;
    }
        */

#bg{
    background-image: url("1im.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1000px 1000px;
    background-attachment: srool ;
}

    