/*#text{
    width: 500px;
    border: 1px solid black;
    color: blue;
   /* text-align:justify ;
   */

    direction: rtl;
   /* text-decoration: overline;
   text-decoration:underline;
   text-decoration: line-through;

   */
  /* text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;*/
  /*
  line hide process is a two text space process
  line-height: 30px;*/
 /* letter-spacing: 10px;*/
 /*word-spacing: 10px;*/
/* white-space: pre;*/
/*white-space: nowrap;*/
}

